<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/not_found.css">
    <title>Not found</title>
</head>
<body>
    {{template "navigation-bar"}}
    <section class="container">
        <div class="container-image">
            <img src="../static/images/notfound.svg" alt="image 404 not found"  class="image"/>
        </div>
    </section>

    {{template "js-nav"}}
</body>
</html>
