<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/home.css" rel="stylesheet">
</head>

<body>
    {{template "navigation-bar"}}
    <section class="section">
        <img src="../static/images/character.svg" alt="character">
        <div class="text">
            <h1 class="title">Découvrez la beauté du créole comme jamais auparavant</h1>
            <p class="paragraph"> Plongez dans la richesse culturelle et linguistique du créole grâce à notre
                application
                innovante.
                Que vous soyez débutant ou que vous cherchiez à vous perfectionner, notre plateforme offre une
                expérience
                d'apprentissage immersive adaptée à tous les niveaux.</p>
            <a href="/signin">Commencez maintenant ! </a>
            <a href="/home">Home with user</a>
        </div>
    </section>
    {{template "js-nav"}}
</body>

</html>
