@use "variables" as *;

$size-md: 14rem;
$size-lg: 18rem;
$size-xl: 23rem;
$size-2xl: 27rem;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Correction de 100dvh à 100vh
}

.container-image {
    width: 11rem;

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // Regroupement des média queries
    @media screen and (min-width : $breakpoint-md ) {
        width: $size-md;
    }
    @media screen and (min-width : $breakpoint-lg) {
        width: $size-lg;
    }
    @media screen and (min-width : $breakpoint-xl) {
        width: $size-xl;
    }
    @media screen and (min-width : $breakpoint-2xl) {
        width: $size-2xl;
    }
}