@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../fonts/ubuntu-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu medium";
  font-weight: 300;
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu regular";
  font-weight: 300;
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto thin";
  font-weight: 300;
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto light";
  font-weight: 300;
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header #home-link {
  margin: 0.75rem;
}
.header #home-link img {
  width: 1.25rem;
}
.header .hamberger {
  border: none;
  display: inline-block;
  margin-right: 1.5rem;
  align-self: center;
  background-image: url("../images/hamberger-menu.svg");
  background-size: cover;
  width: 1rem;
  aspect-ratio: 1;
  background-color: white;
  transition: 300ms;
}
.header .hamberger[data-close=true] {
  background-image: url("../images/close-hamberger.svg");
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff6eb;
  position: fixed;
  top: 2.8rem;
  left: -100%;
  text-align: center;
}
.navigation ul li {
  width: 100%;
  padding: 0.5rem;
}
.navigation ul li:hover {
  background: rgb(252, 167, 57);
}
.navigation ul[data-visible=true] {
  left: 0;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .navigation .hamberger {
    display: none;
    background: yellow;
  }
  .navigation ul {
    flex-direction: row;
    background: none;
    position: static;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
  }
  .navigation ul li {
    width: initial;
    border: none;
    padding: 0;
  }
  .navigation ul .connexion {
    border: 1px solid rgb(252, 167, 57);
    border-radius: 0.5rem;
    padding: 5px;
  }
  .navigation ul .left {
    margin: auto;
    border: none;
    text-decoration: underline;
  }
  .navigation ul .connexion1 {
    background: rgb(252, 167, 57);
    border: 1px solid black;
    margin-right: 1.5rem;
  }
}
.navigation ul .account {
  margin-right: 1.5rem;
  border: 1px solid rgb(252, 167, 57);
  padding: 5px;
  border-radius: 8px;
}
.navigation ul .account:hover {
  background-color: rgb(252, 167, 57);
}

.section {
  background: #fff6eb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}
.section img {
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.text .title {
  font-size: 2rem;
  font-family: "Ubuntu";
}
.text .paragraph {
  font-family: "Roboto thin";
  margin-top: -0.5rem;
  font-size: 1rem;
  max-width: 19rem;
}
.text a {
  padding: 0.5rem;
  margin-top: 1rem;
  color: black;
  text-decoration: none;
  border-radius: 0.625rem;
  background: #FCA739;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text a:hover {
  background: #eca344;
}

@media screen and (min-width: 768px) {
  .section img {
    width: 31rem;
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .section img {
    min-width: 50rem;
  }
  .section .text {
    text-wrap: balance;
    align-items: start;
    justify-content: center;
    margin-left: 1rem;
    text-align: start;
  }
  .section .text .paragraph {
    max-width: -moz-max-content;
    max-width: max-content;
    text-wrap: pretty;
  }
}/*# sourceMappingURL=play.css.map */