@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../fonts/ubuntu-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu medium";
  font-weight: 300;
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu regular";
  font-weight: 300;
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto thin";
  font-weight: 300;
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto light";
  font-weight: 300;
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header #home-link {
  margin: 0.75rem;
}
.header #home-link img {
  width: 1.25rem;
}
.header .hamberger {
  border: none;
  display: inline-block;
  margin-right: 1.5rem;
  align-self: center;
  background-image: url("../images/hamberger-menu.svg");
  background-size: cover;
  width: 1rem;
  aspect-ratio: 1;
  background-color: white;
  transition: 300ms;
}
.header .hamberger[data-close=true] {
  background-image: url("../images/close-hamberger.svg");
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff6eb;
  position: fixed;
  top: 2.8rem;
  left: -100%;
  text-align: center;
}
.navigation ul li {
  width: 100%;
  padding: 0.5rem;
}
.navigation ul li:hover {
  background: rgb(252, 167, 57);
}
.navigation ul[data-visible=true] {
  left: 0;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .navigation .hamberger {
    display: none;
    background: yellow;
  }
  .navigation ul {
    flex-direction: row;
    background: none;
    position: static;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
  }
  .navigation ul li {
    width: initial;
    border: none;
    padding: 0;
  }
  .navigation ul .connexion {
    border: 1px solid rgb(252, 167, 57);
    border-radius: 0.5rem;
    padding: 5px;
  }
  .navigation ul .left {
    margin: auto;
    border: none;
    text-decoration: underline;
  }
  .navigation ul .connexion1 {
    background: rgb(252, 167, 57);
    border: 1px solid black;
    margin-right: 1.5rem;
  }
}
.navigation ul .account {
  margin-right: 1.5rem;
  border: 1px solid rgb(252, 167, 57);
  padding: 5px;
  border-radius: 8px;
}
.navigation ul .account:hover {
  background-color: rgb(252, 167, 57);
}

.container {
  height: 100dvh;
  width: 100dvw;
}
.container .illustration {
  display: none;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-family: "Ubuntu medium", sans-serif;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials .social_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.socials .line {
  background-color: black;
  height: 1px;
  min-width: 17rem;
  margin: auto;
}

a .login_logo {
  height: 5rem;
}

.box_form {
  margin: auto 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_group .visually-hidden {
  display: none;
}

.group_field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0.75rem;
}
.group_field .input_field {
  margin-top: 0.5rem;
  min-height: 2rem;
  border: 1px solid;
  border-radius: 5px;
}

.input_field {
  text-align: center;
}

.submit {
  width: -moz-min-content;
  width: min-content;
  padding: 0.75rem;
  border-radius: 10px;
  align-self: center;
  border: none;
  margin-bottom: 0.5rem;
  background-color: rgb(252, 167, 57);
}

@media screen and (min-width: 768px) {
  .container {
    background: rgb(201, 254, 250);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    height: 35rem;
    width: 30rem;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
    box-shadow: -35px 30px 0px 3px rgb(252, 167, 57);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .socials .line {
    min-width: 12rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  .container .illustration {
    display: block;
    background-color: rgb(201, 254, 250);
  }
  .container .main {
    transform: translateX(-4.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: -moz-fit-content;
    width: fit-content;
  }
  .container .illustration {
    display: block;
    background-color: rgb(201, 254, 250);
  }
}/*# sourceMappingURL=sign_css.css.map */